/cours_0/.vs
/cours_0/Debug
/cours_1/.vs
/cours_1/Debug
/cours_2/.vs
/cours_2/Debug
/cours_3/.vs
/cours_3/Debug
/cours_4/.vs
/cours_4/Debug
/cours_5/.vs
/cours_5/Debug
/cours_6/.vs
/cours_6/Debug
/cours_7/.vs
/cours_7/Debug


/test3D/.vs
/test3D/Debug
/sphirograph/.vs
/sphirograph/Debug
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
